<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.androidtv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- TV app need to declare touchscreen not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--
     true:  your app runs on only TV
     false: your app runs on phone and TV
    -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/logo"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.VideoContentProvider"
            android:authorities="com.sample.androidtv"
            android:exported="true" />

        <activity
            android:name=".activities.VideoDetailsActivity"
            android:label="Android TV Sample">
            <!--android:label="@string/title_activity_video_details"-->


            <!--&lt;!&ndash; Receives the search request. &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                &lt;!&ndash; No category needed, because the Intent will specify this class component&ndash;&gt;
            </intent-filter>
            &lt;!&ndash; Points to searchable meta data. &ndash;&gt;
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />-->

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".activities.ErrorActivity"
            android:label="@string/title_activity_error" />
        <activity
            android:name=".activities.PlaybackActivity"
            android:label="@string/title_activity_playback" />
        <activity android:name=".activities.VerticalGridActivity"></activity>
        <activity android:name=".activities.GuidedStepActivity"></activity>
        <activity android:name=".activities.SearchActivity" />

    </application>
    .

</manifest>
